include README.md
include LICENSE
recursive-include streamlit_kanban_os/src/frontend/build *
recursive-include streamlit_kanban_os/src/frontend/public *
global-exclude *.pyc
global-exclude __pycache__
global-exclude .git*
